option_settings:
  aws:elb:healthcheck:
    HealthCheckSuccessThreshold: 3
    HealthCheckInterval: 15
    HealthCheckTimeout: 5
    UnhealthyThreshold: 5
    HealthyThreshold: 3
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: none
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
    HealthCheckSuccessThreshold: Ok
    HealthCheckURL: /health