option_settings:
  aws:elb:healthcheck:
    HealthCheckSuccessThreshold: 3
    HealthCheckInterval: 15
    HealthCheckTimeout: 5
    UnhealthyThreshold: 5
    HealthyThreshold: 3
    Target: "HTTP:5000/actuator/health"
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
    HealthCheckSuccessThreshold: Ok